<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Erreur</title>
</head>

<body style="background-color: #192a56;">

    <div style="height: 100vh;" class="d-flex align-items-center">
        <div class="alert alert-danger w-100 py-4">
            <h1 style="font-family: 'Cantora One', sans-serif;" class="text-center">
                Ce compte est déjà connecter quelque part. Veuillez d'abord la deconnecter s'il vous plait
            </h1>
        </div>
    </div>

</body>

</html>